.container {
  color: var(--neutral-600);
  text-align: end;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--blue-200);
  border-radius: 0.8rem;
  resize: vertical;
  outline: none;
  color: var(--neutral-600);
}
