.content,
.content2,
.content3 {
  background-color: var(--neutral-0);
  border-radius: 1rem;
  border: 1px solid var(--neutral-200);
}

.content {
  position: relative;
}

.feeling {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--neutral-600);
}

.quoteIcon {
  width: 24px;
  height: 24px;
}

.sleepLabel {
  font-weight: 500;
  color: var(--neutral-600);
}

.sleepHours {
  font-weight: bold;
  color: var(--neutral-900);
  font-size: 1.8rem;
}

.reflectionNotes {
  color: var(--neutral-900);
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.feelingsContainer {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--neutral-600);
}

@media (min-width: 1200px) {
  .feeling {
    font-size: 1.75rem;
    color: var(--neutral-600);
  }
  .title {
    font-size: 3rem;
  }
  .content {
    flex: 1 1 80%;
    height: 350px;
  }
  .content2 {
    flex: 1 1 15%;
    height: 200px;
  }
  .content3 {
    flex: 1 1 40%;
    height: 200px;
  }
  
  .moodIcon {
    width: 340px;
    height: 340px;
    overflow: hidden;
    position: absolute;
    right: 5%;
    bottom: -7%;
  }

  .moodIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: -10%;
  }

  .moodDescription {
    width: 50%;
    font-style: italic;
    margin-top: 5rem;
  }

  .moodDescription p {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .feelingsContainer {
    margin-top: 3.5rem;
  }
}
