.container {
  background-color: var(--neutral-0);
  border-radius: 1rem;
  border: 1px solid var(--neutral-200);
  padding: 1rem;
  flex: 1 1 40%;;
}

.title {
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--neutral-900);
}

.title span {
  color: var(--neutral-300);
  font-weight: 400;
  font-size: 0.9rem;
}

.content {
    position: relative;
    background-color: var(--blue-100);
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    margin-top: 1rem;
}

.content img {
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content p {
  font-size: .9rem;
}