.container {
  background-color: var(--neutral-0);
  border-radius: 1rem;
  border: 1px solid var(--neutral-200);
  padding: 1rem;
}

.tableHeaderLeft {
  text-align: left;
  flex: 1 1 120px;
  padding-bottom: 2rem;
}

.tableHeaderLeft div {
  color: var(--neutral-600);
  font-weight: 400;
  font-size: 0.75rem;
}

.tableHeaderLeft img {
  width: 12px;
  margin-right: 0.5rem;
}

.tableContent {
  overflow-x: auto;
  overflow-y: visible;
  text-align: center;
  flex: 1 1 auto;
  margin-left: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.tableContent::-webkit-scrollbar {
  height: 6px;
}

.tableContent::-webkit-scrollbar-track {
  background: var(--neutral-100);
  border-radius: 3px;
}

.tableContent::-webkit-scrollbar-thumb {
  background: var(--neutral-300);
  border-radius: 3px;
}

.tableContent::-webkit-scrollbar-thumb:hover {
  background: var(--neutral-400);
}

.tableContent > div {
  font-size: 0.75rem;
}

.bar {
  border-radius: 2rem;
  border: 1px solid var(--neutral-200);
  margin-bottom: 0.3rem;
  margin-top: auto;
}

.bar img {
  width: 24px;
  height: 24px;
}

.tableContent div span {
  padding: 0;
}
