/* Deixa o checkbox azul quando selecionado */
input[type="checkbox"] {
    accent-color: #2563eb; /* Azul padrão Tailwind ou ajuste conforme necessário */
}
.tag {
    border: 2px solid var(--blue-100);
    border-radius: .8rem;
    cursor: pointer;
}       

.active {
    border: 3px solid var(--blue-600);
}

.tag label {
    font-size: 1.1rem;
}