.container {
  border: 2px solid var(--blue-100);
  border-radius: 12px;
}

.container img {
  width: 40px;
  height: auto;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 3px solid #b3d4fc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: border-color 0.2s;
  vertical-align: middle;
}

input[type="radio"]:checked {
  border: 5px solid #1976d2;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
