.container {
    background-color: var(--neutral-0);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}