.button {
    background-color: var(--blue-700);
    border: none;
    border-radius: 0.75rem;
    color: var(--neutral-0);
    width: 100%;
    padding: 0.85rem;
    margin: 1rem 0;
    font-size: 1.35rem;
    font-weight: 600;
}

.button:hover {
    background-color: var(--blue-600);
    cursor: pointer;
}