.trendInfoContainer {
    position: absolute;
    padding: .7rem;
    background-color: var(--neutral-0);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.193);
    border-radius: 0.5rem;
    text-align: left;
    left: -452%;
    top: 0;
    width: 180px;
}

.trendInfoArrow {
    position: absolute;
    background-color: var(--neutral-0);
    width: 20px;
    height: 20px;
    right: -10px;
    transform: rotate(45deg);
    z-index: 1;
}

.trendInfoContainer img {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    vertical-align: middle;
}

.label {
    font-size: .85rem;
    font-weight: 600;
    margin-bottom: .25rem;
    color: var(--neutral-600);
}

.notes {
    font-size: .75rem;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: anywhere;
    line-height: 1;
}